<% include partials/head.ejs %>

  <div class="grid-items-lines">
    <h1>User Profile</h1>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Username</h1>
      <input type="text" name="username" value="<%= user.preferences.username %>">
      <img src="<%= user.preferences.avatar %>" alt="" />
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Email</h1>
      <input type="email" name="email" value="<%= user.local.email %>">
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>League</h1>
      <p><%= user.preferences.league %></p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>_id</h1>
      <p><%= user._id %></p>
    </a>
  </div>

<% include partials/footer.ejs %>
