<% include partials/head.ejs %>
<% include partials/header.ejs %>


  <h1>Hello! <%= user.local.email %></h1>

  <div class="cards">
    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
      </div>
      <div class="card-header">
        <h2><%= nflData.home_team.market %> <%= nflData.home_team.name %></h2>
        vs.
        <h2><%= nflData.away_team.market %> <%=nflData.away_team.name %></h2>
      </div>
      <div class="card-copy">
        <h3>Home Points</h3>
        <h4><%= nflData.home_team.points %></h4>
        <h3>Away Points</h3>
        <h4><%= nflData.away_team.points %></h4>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
      </div>
      <div class="card-header">
        <h2><%= eplData.fixtures[9].homeTeamName %></h2>
        vs.
        <h2><%= eplData.fixtures[9].awayTeamName %></h2>
      </div>
      <div class="card-copy">
        <h3>Home Points</h3>
        <h4><%= eplData.fixtures[9].result.goalsHomeTeam %></h4>
        <h3>Away Points</h3>
        <h4><%= eplData.fixtures[9].result.goalsAwayTeam %></h4>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
      </div>
      <div class="card-header">
        <h2><%= clData.fixtures[13].homeTeamName %></h2>
        vs.
        <h2><%= clData.fixtures[13].awayTeamName %></h2>
      </div>
      <div class="card-copy">
        <h3>Home Points</h3>
        <h4><%= clData.fixtures[13].result.goalsHomeTeam %></h4>
        <h3>Away Points</h3>
        <h4><%= clData.fixtures[13].result.goalsAwayTeam %></h4>
      </div>
    </div>
  </div>

<% include partials/footer.ejs %>
