<% include partials/head.ejs %>

  <div class="profile cards">
    <h1><%= user.preferences.username %>'s Profile</h1>
    <br>
    <a href="/editProfile">Edit Profile</a>
    <% if (user.local.email) { %>
      <div class="local card">
        <strong>email</strong>: <%= user.local.email %><br>
      </div>
  	<% } else { %>
      <div class="local card">
  		  <a href="/connect/local" class="btn btn-default">Connect Local</a>
      </div>
  	<% } %>
    <% if (user.facebook.token) { %>
      <div class="facebook card">
				<strong>email</strong>: <%= user.facebook.email %><br>
				<strong>name</strong>: <%= user.facebook.name %><br>
      </div>
		<% } else { %>
      <div class="facebook card">
			  <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
      </div>
    <% } %>
    <% if (user.twitter.token) { %>
      <div class="twitter card">
				<strong>display name</strong>: <%= user.twitter.displayName %><br>
				<strong>username</strong>: <%= user.twitter.username %>
      </div>
		<% } else { %>
      <div class="twitter card">
			  <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
      </div>
		<% } %>

  </div>


<% include partials/footer.ejs %>
