<% include partials/head.ejs %>

  <div class="standings">
    <h1><%= user.league %> Standings</h1>
    <table class="tables">
      <thead>
        <tr>
          <th>Position</th>
          <th>Name</th>
          <th>Wins</th>
          <th>Ties</th>
          <th>Losses</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <% for(i=0;i<leagueMembers.length;i++) { %>
          <tr>
            <td>1</td>
            <td><%= leagueMembers[i].username %></td>
            <td><%= leagueMembers[i].results.wins %></td>
            <td><%= leagueMembers[i].results.ties %></td>
            <td><%= leagueMembers[i].results.losses %></td>
            <td>0</td>
          </tr>
        <% } %>
      </tbody>
    </table>

  </div>

<% include partials/footer.ejs %>
