<% include partials/head.ejs %>

  <h1 class="standings-header">Standings</h1>
  <table class="table-minimal standings">
    <thead>
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Wins</th>
        <th>Ties</th>
        <th>Losses</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <% for(i=0;i<data.length;i++){ %>
        <tr>
          <td><%= data[i].position %></td>
          <td><%= data[i].username %></td>
          <td><%= data[i].wins %></td>
          <td><%= data[i].ties %></td>
          <td><%= data[i].losses %></td>
          <td><%= data[i].points %></td>
        </tr>
      <% } %>
    </tbody>
  </table>

<% include partials/footer.ejs %>
